
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{product_image}}" alt="" />
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <h3>{{product_name}}</h3>
      <br>
      <p>{{product_desc}}</p>
      <br>
      <p>${{price}}</p>
    </div>
  </div>
</div>
