<div class="product-row category" id="product-row">
  <div class="card title is-6">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="./osu/womens/osu animal print shirt gray ladies.jpg" alt="" />
      </figure>
    </div>
    <div class="card-content">
      <div class="content has-text-centered">
        <h3>{{product_name}}</h3>
        <p>{{product_desc}}</p>
        <p>{{price}}</p>
      </div>
    </div>
  </div>
</div>