<div class="reviews">
  {{#each this}}
    <section class="review">
      <div class="review-content">
        {{review_text}}
      </div>
    </section>
  {{/each}}
</div>
{{#if loggedIn}}
  <form class="review-form">
    <div class="content">
      <label for="review">Review:</label>
      <textarea name="review-body" id="review-text"></textarea>
      <button type="submit">Submit</button>
    </div>
  </form>
{{/if}}