<section>
  <div>
    <h3>Men's</h3>
  </div>
  {{#if Product.mens.length}}
  <ol>
  {{#each product}}
  <li>
  {{> product-info}}
  </li>
  {{/each}}
  </ol>
  {{/if}}
</section>
<section>
  <div>
    <h3>Women's</h3>
  </div>
  {{#if products.womens.length}}
  <ol>
  {{#each product}}
  <li>
  {{> product-info}}
  </li>
  {{/each}}
  </ol>
  {{/if}}
</section>
<section>
  <div>
    <h3>Kid's</h3>
  </div>
  {{#if products.kids.length}}
  <ol>
  {{#each product}}
  <li>
  {{> product-info}}
  </li>
  {{/each}}
  </ol>
  {{/if}}
</section>
