<section>
  <div>
    <h3>Men's</h3>
  </div>
  <ol>
  {{#each products as |product| }}
  <li>
  {{> product-info product}}
  </li>
  {{/each}}
  </ol>
</section>
<section>
  <div>
    <h3>Women's</h3>
  </div>
  <ol>
  {{#each products as |product| }}
  <li>
  {{> product-info product}}
  </li>
  {{/each}}
  </ol>
</section>
<section>
  <div>
    <h3>Kid's</h3>
  </div>
  <ol>
  {{#each products as |product| }}
  <li>
  {{> product-info product}}
  </li>
  {{/each}}
  </ol>
</section>
