<section class="product-section">
  <div class="dept-title has-text-center">
    <h3 class="title is-2">Products</h3>
  </div>
  <ol class="list is-flex is-flex-wrap-wrap">
  {{#each products as |product| }}
  <a href="/product/{{id}}">
  <li>
  {{> product-info product}}
  </li>
  </a>
  {{/each}}
  </ol>
</section>