<section class="product-section">
  <div class="dept-title has-text-center">
    <h3>Product's</h3>
  </div>
  <ol>
  {{#each products as |product| }}
  <li>
  {{> product-info product}}
  </li>
  {{/each}}
  </ol>
</section>