<div class="auth">
  <form class="login-form">
    <div>
      <label for="email">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="login-btn">login</button>
    </div>
  </form>
  <form class="signup-form">
    <div>
      <label for="username">username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="email">email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div>
      <label for="password">password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="signup-btn">signup</button>
    </div>
  </form>
</div>