<form class="">
  <div>
  <label for="email">email:</label>
  <input type="text" id="email-login" />
  </div>
  <div>
  <label for="password">password:</label>
  <input type="text" id="password-login" />
  </div>
  <div>
    <button class="login-btn"></button>
  </div>
</form>
<form class="">
  <div>
  <label for="username">username:</label>
  <input type="text" id="username-signup" />
  </div>
  <div>
  <label for="email">email:</label>
  <input type="text" id="email-signup" />
  </div>
  <div>
  <label for="password">password:</label>
  <input type="text" id="password-signup" />
  </div>
  <div>
    <button class="signup-btn">signup</button>
  </div>
</form>