<div>
{{> product-info product}}
</div>

<div>
  <h4>Reviews</h4>
{{> reviews product.reviews}}
</div>

{{#if loggedIn}}
  <form class="review-form">
    <div class="content">
      <label for="review">Review:</label>
      <textarea name="review-body" id="review-text"></textarea>
      <button type="submit">Submit</button>
    </div>
  </form>
{{/if}}