<div class="is-flex is-justify-content-space-around">
{{> product-info product}}
</div>

<div class="px-6 mx-6">
  <h4 class="is-flex is-justify-content-space-around is-size-3">Reviews</h4>
{{> reviews product.reviews}}
</div>

{{#if loggedIn}}
  <form class="review-form">
    <div class="content">
      <label for="review">Review:</label>
      <textarea name="review-body" id="review-text" class="textarea"></textarea>
      <button type="submit">Submit</button>
    </div>
  </form>
{{/if}}
<script src="/javascript/review.js"></script>