.nav {
  padding: 15px 0 15px 0;
  background-color: #bb0000;
}

.navbar-brand h1 {
  font-weight: 700;
  color: #fff;
  padding-left: 40px;
}

.nav-menu {
  text-decoration: none;
}

.nav-link {
  color: #fff;
  font-size: large;
  font-weight: 500;
}

.hero-container {
  /* background-color: #ffffff9a; */
  background: url("/images/osu-game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: inline-flex;
}

.hero-title {
  color: rgba(255, 255, 255, 0.95);
  font-size: 3.5rem;
  font-weight: 500;
  text-shadow: 2px 2px #460000dc;
  margin: 150px 0 5px 0;
}

.hero-subtitle {
  color: rgba(255, 255, 255, 0.95);
  font-size: 2rem;
  text-shadow: 2px 2px #460000dc;
  margin-bottom: 40px;
}

.hero-button {
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  font-size: 1rem;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: #000;
}

.hero-merch-display {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero-merch-display-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 250px;
}

.banner {
  background-color: #000;
  color: #fff;
  height: 35px;
  width: 100%;
  padding: 5px;
}

.banner-sale {
  text-transform: uppercase;
  font-weight: bold;
}

.disclaimer {
  color: rgba(255, 255, 255, 0.75);
}

.product-section {
  background-color: #fff;
  width: 100%;
}

.products-container h1 {
  color: #000;
  margin: 50px 650px;
}

.product-row {
  display: flex;
  flex: 1;
  justify-content: center;
}

.category-name {
  margin: 50px 800px;
}

.card {
  height: 300px;
  width: 300px;
  margin: 15px;
  padding: 25px;
}

.card-image {
  width: 200px;
  height: 200px;
}

.card-image figure {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 50px;
  flex-shrink: 0;
}

footer {
  background-color: #666;
  color: white;
  padding: 15px;
}
main {
  flex: 1 0 auto;
}
